{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  <!--//==Contact Page Start==//-->
  <section class="page_single">
    <div class="clear"></div>
    <!--//==Contact Form Section Start==//-->
    <div class="container">
        <div class="row contact-bottom padTB100">
            <!--//==Section Heading Start==//-->
            <div class="col-md-12">
                <div class="centered-title">
                    <h2>Add Food <span class="heading-border"></span></h2>
                    <div class="clear"></div>
                  
                    <div class="clear"></div>
                </div>
            </div>
            <!--//==Section Heading End==//-->
            <!--//==Form Area Start==//-->
            <div class="col-md-12 left-box">
                <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ productForm|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Create Food</button>
                    </div>
                </form>
            </div>
            <!--//==Form Area End==//-->
        </div>
    </div>
    <!--//==Contact Form Section End==//-->
</section>
<!--//==Contact Page End==//-->
							
{% endblock content %}