{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

        <!--//=========Dish Detail Start=========//-->
        <section class="page_single">
            <div class="container">
                <div class="row padTB100">
                    <div class="prod-info-section">
                        <div class="clearfix">
                            <!--Thumbnail Column-->
                            <div class="carousel-column col-lg-6 col-md-6 col-sm-5 col-xs-12">
                                <div class="wa-product-main-image marB20">
                                    <a href="#" class="fancybox" data-fancybox-group="group" title="Roasted Chicken"> <img src="{{product.image.url}}" alt=""> </a>
                                </div>
                            </div>
                            <!--Content Column-->
                            <div class="content-column col-lg-6 col-md-6 col-sm-7 col-xs-12">
                                <div class="outer wow fadeInRight">
                                    <div class="title-box">
                                        <div class="inner marB30">
                                            <h2>{{product.name}}</h2>
                                            <span class="price">								
                                            {{product.price}}
                                            <del>{{product.price}}</del>
                                            </span>
                                            <ul class="ratings">
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                                            </ul>
                                            <p>
                                                {{product.location}}
                                            </p>



                                            <div>

                                            {% for comment in comments %}
      
                                            
                                            
                                                    <h4>{{comment.user.username}}</h4>
                                                    <p>{{comment.text}}</p>
                                                    <p>{{comment.created_at}}</p>
                                              
                                         
                                            {% endfor %}
                                    
                                            <!-- <div class="row"> -->
                                                <form action="{% url 'blog_single' product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <fieldset class="form-group">
                                                        {{ commentForm|crispy }}
                                                    </fieldset>
                                                    <div class="form-group">
                                                        <button class="btn btn-outline-info" type="submit">Comment</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- </div> -->

                                            



                                        </div>
                                        <div class="clear"></div>
                                        <!--Options-->
                                    </div>
                                    <!--Add-->
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//=========Dish Detail End=========//-->

							
{% endblock content %}