{% extends "app/base.html" %} {% load static %} {% block content %}
<!--//=========Member Detail Start=========//-->
<section class="page_single padTB100">
  <div class="container">
    <div class="row pad-s15">
      <!--//==Section Thumbnail Start==//-->
      <div class="col-md-6 col-md-offset-0 col-sm-6 marB30">
        <img src="{% static 'img/team/team-detail.jpg' %}" alt="" />
      </div>
      <!--//==Section Content Start==//-->
      <div class="col-md-6 col-md-offset-0 col-sm-6 marB30">
        <div class="clear"></div>
        <div class="clear"></div>
        <div class="row hidden-xs hidden-sm">
          <div class="col-md-12">


            <h4 class="title padT10 padB20">Name {{username}}</h4>
            <p><strong>Email</strong> : {{email}}</p>
            <p><strong>Phone</strong> : {{phone}}</p>
            <p><strong>Sex </strong> : Male</p>
            <p><strong>Address</strong> : {{address}}</p>
       
          </div>
        </div>
      </div>
</section>
<!--//=========Member Detail End=========//-->
        <!--//=========Special Dish Start=========//-->
        <section id="dishess-menu" class="dishess-menu-on-home dark-section">
          <div class="special-style special-style-dark col-md-offset-0 pull-right">
              <div class="bg-image parallax-style" id="specialDishId" ></div>
          </div>
          <!--//==Section Heading Start==//-->
          <div class="container">
              <div class="col-md-12">
                  <div class="centered-title padT100">
                      <h2>My Post <span class="heading-border"></span></h2>
                      <div class="clear"></div>
                  </div>
              </div>
          </div>

<div class="container">
  <div class="row padB100">
      <!--//==Special Dish Item==//-->
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="home-middle-widget shop-widget boxed-widget shop-posts">
              <article class="post clearfix marT20">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <figure class="post-thumb"><a href="#"><img src="{% static 'img/dishes/1m.jpg' %}" class="img-circle" alt=""></a></figure>
                  </div>
                  <div class="col-md-8 col-sm-8">
                      <h4><a href="dishes-detail.html">Icecreams</a></h4>
                      <ul class="ratings">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                      </ul>
                      <span class="price"><del>$200</del> $100</span>
                      <div class="clear"></div>
                  </div>
              </article>
          </div>
      </div>
      <!--//==Special Dish Item==//-->
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="home-middle-widget shop-widget boxed-widget shop-posts">
              <article class="post clearfix marT20">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <figure class="post-thumb"><a href="#"><img src="{% static 'img/dishes/2m.jpg' %}" class="img-circle" alt=""></a></figure>
                  </div>
                  <div class="col-md-8 col-sm-8">
                      <h4><a href="dishes-detail.html">Icecreams</a></h4>
                      <ul class="ratings">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                      </ul>
                      <span class="price"><del>$200</del> $100</span>
                      <div class="clear"></div>
                  </div>
              </article>
          </div>
      </div>
      <!--//==Special Dish Item==//-->
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="home-middle-widget shop-widget boxed-widget shop-posts">
              <article class="post clearfix marT20">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <figure class="post-thumb"><a href="#"><img src="{% static 'img/dishes/3m.jpg' %}" class="img-circle" alt=""></a></figure>
                  </div>
                  <div class="col-md-8 col-sm-8">
                      <h4><a href="dishes-detail.html">Icecreams</a></h4>
                      <ul class="ratings">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                      </ul>
                      <span class="price"><del>$200</del> $100</span>
                      <div class="clear"></div>
                  </div>
              </article>
          </div>
      </div>
      <!--//==Special Dish Item==//-->
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="home-middle-widget shop-widget boxed-widget shop-posts">
              <article class="post clearfix marT20">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <figure class="post-thumb"><a href="#"><img src="{% static 'img/dishes/4m.jpg' %}" class="img-circle" alt=""></a></figure>
                  </div>
                  <div class="col-md-8 col-sm-8">
                      <h4><a href="dishes-detail.html">Icecreams</a></h4>
                      <ul class="ratings">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                      </ul>
                      <span class="price"><del>$200</del> $100</span>
                      <div class="clear"></div>
                  </div>
              </article>
          </div>
      </div>
      <!--//==Special Dish Item==//-->
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="home-middle-widget shop-widget boxed-widget shop-posts">
              <article class="post clearfix marT20">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <figure class="post-thumb"><a href="#"><img src="{% static 'img/dishes/5m.jpg' %}" class="img-circle" alt=""></a></figure>
                  </div>
                  <div class="col-md-8 col-sm-8">
                      <h4><a href="dishes-detail.html">Icecreams</a></h4>
                      <ul class="ratings">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                      </ul>
                      <span class="price"><del>$200</del> $100</span>
                      <div class="clear"></div>
                  </div>
              </article>
          </div>
      </div>
      <!--//==Special Dish Item==//-->
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="home-middle-widget shop-widget boxed-widget shop-posts">
              <article class="post clearfix marT20">
                  <div class="col-md-4 col-sm-4 col-xs-4">
                      <figure class="post-thumb"><a href="#"><img src="{% static 'img/dishes/7m.jpg' %}" class="img-circle" alt=""></a></figure>
                  </div>
                  <div class="col-md-8 col-sm-8">
                      <h4><a href="dishes-detail.html">Icecreams</a></h4>
                      <ul class="ratings">
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star"></i></a></li>
                          <li><a href="#"><i class="fa fa-star-half-o"></i></a></li>
                      </ul>
                      <span class="price"><del>$200</del> $100</span>
                      <div class="clear"></div>
                  </div>
              </article>
          </div>
      </div>


  </div>
</div>
</section>

{% endblock content %}
